.HamburgerMenu {
    position: absolute;
    padding-right: 1em;
    padding-top: .5em;
    right: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(40, 40, 40);
    width: 40px;
    z-index: 3;
  }
  .HamburgerMenu:hover {
    border-color: rgba(0, 0, 0, 0);
  }

  .HamburgerMenuInverted {
    color: white;
  }

  .settingsMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.95);
    padding: 1em;
    font-family: "Roboto Mono";
    font-weight: 500;
    z-index: 2;
  }

  .list-group-flush {
    width: fit fit-content;
    height: fit-content;
    position: relative;
    justify-self: center;
    padding-top: 2em;
  }

  .list-group {
    --bs-body-bg: rgba(255, 255, 255, 0);
  }

  .buttonText{
    font-family: "Roboto Mono";
    color: white;
    font-size: 1px;
  }

  .rulesPopup {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(24, 24, 24, 0.95);
    padding: 1em;
    font-family: "Roboto";
    z-index: 2;
  }

  .card-text {
    width: 90%;
    justify-self: center;
    align-self: center;
    line-height: 1em;
    font-family: "Roboto Mono";
    color: white;
  }

  .header-text {
    width: 90%;
    justify-self: center;
    align-self: center;
    line-height: 2em;
    font-family: "Roboto Mono";
    color: white;
  }

  .menuButton {
    font-family: "serif";
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    border-color: rgba(0, 0, 128, 0);
  }

  .backArrow {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 1em;
    top: 1em;
    font-family: "serif";
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    border-color: rgba(0, 0, 128, 0);
  }

  .imageDiv {
    width: 48px;
    align-self: center;
  }

  .settingsInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    height: 100%;
  }
  
  @media (min-width: 800px) {
    .buttonText {
      font-size: 24px;
    }

    .HamburgerMenu {
      padding-right: 1em;
      padding-top: .5em;
      width: 50px;
    }
  }
  
  @media (min-width: 1400px){
    .buttonText {
      font-size: 36px;
    }

    .HamburgerMenu {
      padding-right: 1em;
      padding-top: .5em;
      width: 50px;
    }
  }