.HamburgerMenu {
    position: absolute;
    padding-right: 1em;
    padding-top: .5em;
    right: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(40, 40, 40);
    font-size: xx-large;
  }
  .HamburgerMenu:hover {
    border-color: rgba(0, 0, 0, 0);
  }

  .HamburgerMenuInverted {
    color: white;
  }

  .settingsMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.95);
    padding: 1em;
    font-family: "serif";
    font-weight: 500;
  }

  .list-group-flush {
    width: 15em;
    height: fit-content;
    position: relative;
    justify-self: center;
    padding-top: 2em;
  }

  .list-group {
    --bs-body-bg: rgba(255, 255, 255, 0);
  }

  .buttonText{
    font-family: "serif";
    color: white;
  }

  .rulesPopup {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(24, 24, 24, 0.95);
    padding: 1em;
    font-family: "serif";
    font-weight: 500;
  }

  .card-text {
    width: 90%;
    justify-self: center;
    align-self: center;
    line-height: 1em;
    font-family: "serif";
    color: white;
  }

  .header-text {
    width: 90%;
    justify-self: center;
    align-self: center;
    line-height: 2em;
    font-family: "serif";
    color: white;
  }

  .menuButton {
    font-family: "serif";
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    border-color: rgba(0, 0, 128, 0);
  }

  .backArrow {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 1em;
    top: 1em;
    font-family: "serif";
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    border-color: rgba(0, 0, 128, 0);
  }