.HamburgerMenu {
    position: absolute;
    padding: 1em;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(40, 40, 40);
    font-size: xx-large;
  }

  .rulesPopup {
    position: absolute;
    width: 50%;
    height: fit-content;
    left: 25%;
    top: 5%;
    background-color: rgba(24, 24, 24, 0.95);
    border-radius: .25em;
    padding: 1em;
    font-family: "serif";
    font-weight: 500;
  }

  .settingsMenu {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    top: 5em;
    justify-self: center;
    background-color: rgba(24, 24, 24, 0.95);
    border-radius: .25em;
    padding: 1em;
    font-family: "serif";
    font-weight: 500;
  }

  .card-text {
    width: 90%;
    justify-self: center;
    align-self: center;
    line-height: 1em;
    font-family: "serif";
  }

  .menuButton {
    font-family: "serif";
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    border-color: rgba(0, 0, 128, 0);
  }

  .backArrow {
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 1em;
    top: 1em;
    font-family: "serif";
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    border-color: rgba(0, 0, 128, 0);
  }