#root {
  margin: 0 auto;
  text-align: center;
}

.background {
display: flex;
position: absolute;
align-items: flex-start;
justify-content: space-evenly;
height: 100dvh;
width: 100%;
}

.dashed-line {
  position: absolute;
  border-bottom: 8px dashed rgb(82, 82, 82);
  width: 100%;
  height: calc(50% + 4px);
  top: 0;
}

.green {
background-color: #27B24E;
width: 25%;
height: 100%;
}

.yellow {
  background-color: #E2AC27;
  width: 25%;
  height: 100%;
}

.blue {
  background-color: #34C9E7;
  width: 25%;
  height: 100%;
}

.pink {
  background-color: #F27AA3;
  width: 25%;
  height: 100%;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
}

.playerButton {
  height: 3.5em;
  width: 10em;
  will-change: filter;
  transition: filter 300ms;
  background-color: rgb(82, 82, 82);
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  font-size: 12px;
}
.playerButton:hover {
  filter: drop-shadow(0 0 1em #f264ffaa);
}
.playerButton.react:hover {
  filter: drop-shadow(0 0 1em #f264ffaa);
}

.imageWrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: .25em;
  height: 100px;
  width: 200px;
  box-shadow: 4px 3px 8px rgb(0, 0, 0);
}

.topBottomCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardText {
  width: 90%;
  color: black;
  word-wrap: break-word;
  line-height: 1.1;
  font-size: 12px;
}

.flippedCardText {
  transform: rotate(180deg);
}

.imageDiv {
  width: 75px;
}

@media (min-width: 500px){
  .imageDiv {
    width: 125px;
  }
  
  .cardText {
    font-size: 18px;
  }

  .imageWrapper {
    height: 50px;
    width: 100px;
  }
}

@media (min-width: 800px) {
  .imageDiv {
    width: 150px;
  }
  
  .cardText {
    font-size: 24px;
  }

  .imageWrapper {
    height: 100px;
    width: 200px;
  }
}

@media (min-width: 1400px){
  .imageDiv {
    width: 200px;
  }
  
  .cardText {
    font-size: 36px;
  }
  
  .playerButton {
    height: 3em;
    width: 10em;
    font-size: 1em;
  }

  .imageWrapper {
    height: 150px;
    width: 300px;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: fit-content;
  justify-self: center;
  flex-grow: 5;
}

.buttonContainer{
  display: flex;
  width:75%;
  flex-direction: row;
  margin-top: .5em;
  margin-bottom: 0;
  justify-content: space-around;
}

.flippedOrientationButtons{
  transform: rotate(180deg);
  margin-bottom: .5em;
  margin-top: 0;
}

.flippedOrientation {
  rotate: 180deg;
}

.buttonText{
  font-family: "serif";
  color: black;
}