#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.flippedOrientationButtons{
  transform: rotate(180deg);
}

.playerButton {
  height: 3.5em;
  width: 10em;
  will-change: filter;
  transition: filter 300ms;
  background-color: rgb(218, 218, 218);
}
.playerButton:hover {
  filter: drop-shadow(0 0 1em #f264ffaa);
}
.playerButton.react:hover {
  filter: drop-shadow(0 0 1em #f264ffaa);
}

.imageWrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  align-content: center;
  justify-content: center;
}

.cardText {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 15%;
  margin: 0;
  color: black;
  word-wrap: break-word;
  line-height: 1.1;
  font-size: 4vw;
}

.flippedCardText {
  transform: rotate(180deg);
  top: 15%;
}

.imageDiv {
  width: 2px;
}

@media (min-width: 375px){
  .imageDiv {
    width: 90px;
  }
  
  .cardText {
    width: 80px;
    font-size: 1em;
  }

  .flippedCardText {
    width: 80px;
    font-size: 1em;
  }
  
  .playerButton {
    height: 3em;
    width: 7.5em;
    font-size: .75em;
  }
}

@media (min-width: 500px){
  .imageDiv {
    width: 120px;
  }
  
  .cardText {
    width: 100px;
    font-size: 1.25em;
  }

  .flippedCardText {
    width: 100px;
    font-size: 1.25em;
  }
  
  .playerButton {
    height: 3em;
    width: 7.5em;
    font-size: .75em;
  }
}

@media (min-width: 700px) {
  .imageDiv {
    width: 200px;
  }
  
  .cardText {
    width: 180px;
    font-size: 2em;
  }

  .flippedCardText {
    width: 180px;
    font-size: 2em;
  }
  
  .playerButton {
    height: 2.5em;
    width: 10em;
    will-change: filter;
    transition: filter 300ms;
    font-size: 1em;
  }
}

@media (min-width: 1400px){
  .imageDiv {
    width: 300px;
  }
  
  .cardText {
    width: 260px;
    font-size: 4em;
  }

  .flippedCardText {
    width: 360px;
    font-size: 4em;
  }
  
  .playerButton {
    height: 3.5em;
    width: 10em;
    will-change: filter;
    transition: filter 300ms;
    font-size: 1em;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: fit-content;
  justify-self: center;
}

.buttonContainer{
  display: flex;
  width:75%;
  flex-direction: row;
  margin-top: .5em;
  margin-bottom: .5em;
  justify-self: center;
  justify-content: space-between;
}

.buttonText{
  font-family: "serif";
  color: black;
}